{% extends 'base.html' %} {% block title %} Blogly User Details {% endblock %}
{% block content %}

<h1>{{ user.first_name }} {{ user.last_name }}</h1>
<img src="{{ user.image_url }}" alt="{{ user.first_name }}" /> <br />

<div class="details">
  <form action="/users/{{ user.id }}/edit">
    <button class="edit" type="submit">Edit</button>
    <button
      class="delete"
      type="submit"
      formaction="/users/{{ user.id }}/delete"
      formmethod="post"
    >
      Delete
    </button>
  </form>
</div>

{% endblock %}
